# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Quiz 11\servlets-jsp-marichkakohut-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
